
:root {
  --bg: #f7f9fc;
  --card: #ffffff;
  --accent: #2563eb;
  --muted: #6b7280;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg);
  color: #111827;
}

header {
  background: linear-gradient(90deg, #eef2ff, #fff);
  border-bottom: 1px solid #e6edf6;
}

.container {
  margin: 0 auto;
  position: relative;
}

nav a {
  color: var(--accent);
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 600;
}

main {
  /*padding: 2rem 0;*/
}
.underline{
  border-bottom: solid turquoise 3px;
}
.wrap-section, .wrap-nav {
  padding: 1.25rem;
  max-width: 1200px;
  margin: 0 auto;
}
.card {
 /* background: var(--card);*/
  border-radius: 8px;
  padding: 1.25rem;
}
.flex-block {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 1rem;
}
.text-center{
    text-align: center;
    background: turquoise;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
.flex-block li {
    flex: 1;
    max-width: 400px;
    min-width: 250px;
    background: lightgray;
    padding: 20px;
    border-radius: 10px;
    color:black;
    position:relative;
}
.button-link{
  padding: 5px;
  border-radius: 5px;
  text-decoration:none;
  color:white;
}
.button-link:hover{
  opacity: 0.7;
  cursor: pointer;
}
.airbnb{
  background: #FF5A5F;
}
.booking{
  background: #003580;
}
.img-block {
  width: 100%;
  height: auto;
  border-radius: 10px;
} 
#home {
  /*background: turquoise;*/
  background-image: url("phuketSea.jpg");
  background: #505755;
  background-image: url(phuketSea.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  color: white;
}

#about {
  background: lightgreen;
 
}
#contact {
  background: lightcoral;
}
#gotop{
  border-radius:40px;
  width: 50px;
  height: 50px;
  background: purple;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  bottom: 20px;
  text-align: center;
}
#gotop:hover{
  background: darkviolet;
  cursor: pointer;
}
#gotop i{
    font-size: 30px;
    margin-top: 10px;
}
.button a{
  color:white;
  text-decoration: none;
}
footer {
  padding: 1rem 0;
  color: var(--muted);
  font-size: 0.9rem;
  text-align: center;
}